p, ul {
  font-family: 'Playfair Display', serif;
}

.intro {
  position: static;
  top:0;
  display: block;
  background-image: url(../img/background-intro.jpg);
  background-position: center;
  height: 800px;
}

.sidebar {
  position: relative;
  display: inline-block;
  top: 10px;
  width: 30%;
  float: left;
  background: #d7dee8;
  opacity: 0.4;
}

/*.division {
  left: 200px;
  height: 100%;
  color: white;
}*/

.maincontent {
  position: relative;
  display: inline-block;
  top: 10px;
  width: 60%;
  float: right;
  background: #d7dee8;
  opacity: 0.4;
}

.empty {
  display: block;
  height: 10px;
  clear: both;
}

.contactme {
  clear: both;
  padding: 20px 0 20px 0;
  text-align: center;
}
