p, ul {
  font-family: 'Playfair Display', serif;
}

.intro {
  position: absolute;
  top:0;
  display: block;
  background-image: url(../img/background-intro.jpg);
  background-position: center;
  height: 800px;
}

.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding-left: 30px;
  padding-top: 100px;
  background: #d7dee8;
  opacity: 0.4;
}

.division {
  left:300px;
  margin: 50px;
  height: 100%;
  color: white;
}

.maincontent {
  position: relative;
  top: 0;
  left: 350px;
  right: 0;
  bottom: 0;
  padding: 0 0 0 100px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: blue
}

/*.empty {
  clear: both;
}*/
